/*body {
  border-color: yellow;
  border-style: solid;
  padding-right: 100px;
  padding-left: 100px;
}*/

.flex-container {
  display: flex;
}

/* border color */
.out-frame {
    border: 5px;
    border-color: lightblue;
    border-style: solid;
}

.title {
  background-color: #F0F8FF;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  padding-left: 100px;
  padding-right: 100px;
}

.para1 {
margin-bottom: 0;
}

.para {
  color: gray;
  margin-top: 0;
}

/* border color */
.container, .layout13, .layout24, .para, .para1 {
  border: 5px;
  border-color: lightpink;
  border-style: solid;
}

/* border color */
.title, .main, .navbar, .container, footer {
  border-color: green;
  border-style: dashed;
  /*margin-left: 30px;
  margin-right: 30px;*/
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content:  space-between;
  list-style-type: none;
  padding: 0;
  margin-left: 100px;
  margin-right: 100px;
}


.navbar > li {
  margin: 0;
  flex: 1 1 25%;

}

/* border color */
.home, .about, .our-service, .our-office {
  /*padding-right: 30px;*/
}

.officeimg {
 width: 100%;
}

.container {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
}

.layout13 {
  width: 30%;
  margin-right: 20px;
}

.layout24 {
  float: right;
  width: 70%;
  margin: 0;

}

.logoimg {
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(136, 14, 242);
  color: white;
  height:auto;
  padding: 0 100px 0 100px;
}

iframe {
  width: 100px;
  height: 100px;
  frameborder: 0;
  style: border 0;
  allowfullscreen: ;
}

.bottom-list {
  list-style-type: none;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  body {
    display: flex;
    margin: 0;
  }

.title {
  padding: 0;
}

.navbar {
  margin: 0;
}

  .container {
    flex-direction: column;
    align-items: stretch;
    margin-left: 0;
    margin-right: 0;
  }

  .layout13, .layout24 {
    width: 100%;
  }

  footer {
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 100%;
    width: 100%;
    margin-left: 0;
    padding: 0;
    justify-content: center;
  }
}
