.flex-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #F0FFFF;
}

.name-on-card{
  margin-top: 10%;
  margin-bottom: 5%;
}

.card-type {
  margin-bottom: 5%
}

.cardnum {
  margin-bottom: 5%
}

.name {
  margin-bottom: 5%
}

.expiry {
  margin-bottom: 5%
}

.month, .year, .ccv {
    width: 20%;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10%;
  margin-bottom: 10%;
}

@media screen and (min-width: 600px) {
  .all, .flex-container {
    margin-left: 20%;
    margin-right: 20%;
  }

}
